
defaultBorder = #d9d9d9;
defaultText = #000000a6;

primary = #267cc6;
primaryHover = primary * 1.2;
primaryActive = primary * 0.8;

danger = #c62642;
dangerHover = danger * 1.2;
dangerActive = danger * 0.85;

disableText = #0005;