.xw-btn {
    background-color #0166bdd9;
    border 2px solid #fff;
    box-shadow 0 0 5px #0003;
    color #fff;
    border-radius 4px;
    padding 3px 9px;
    margin 0 2px;
    cursor pointer;
    user-select none;
    &.error {
        background-color #bd0122d9;
    }
    &:focus {
        // outline: -webkit-focus-ring-color dashed 1px;
        // outline none;
    }
    &:active {
        box-shadow 0 0 5px #0000;
    }
}